# References
## https://github.com/alexkaratarakis/gitattributes/tree/710900479a2bedeec7003d381719521ffbb18bf8

*                text=auto

*.bash           text eol=lf
*.gitattributes  text eol=lf export-ignore
*.gitconfig      text eol=lf export-ignore
*.gitignore      text eol=lf export-ignore
*.gitkeep        export-ignore
*.gitmodules     text eol=lf
*.json           text eol=lf
*.md             text eol=lf
*.ps1            text eol=crlf
*.sh             text eol=lf
*.vim            text eol=lf
*.yaml           text eol=lf
*.zsh            text eol=lf
